@import 'reset';
@import 'variables/global';
@import 'themes/light';
@import 'themes/dark';
@import 'themes/pure';

body, .stories, {
  font: var(--font-m);
  color: var(--primary-color);
  background: var(--bg-color);

}

.app {
  min-height: 100vh;
  background: var(--bg-color);
}

.content-page {
  display: flex;
}

:root {
  --bg-color: #0b0b1f;
  --inverted-bg-color: #dedede;
  --primary-color: #6bb16b;
  --secondary-color: #b2cda9;
  --inverted-primary-color: #1700ea;
  --inverted-secondary-color: #678ef1;
}