@import 'reset';
@import 'variables/global';
@import 'themes/light';
@import 'themes/dark';

body {
  font: var(--font-m);
  color: var(--primary-color);
  min-height: 100vh;
}


.app {
  background: var(--bg-color);
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px;
}

:root {
  --bg-color: #0b0b1f;
  --inverted-bg-color: #dedede;
  --primary-color: #6bb16b;
  --secondary-color: #b2cda9;
  --inverted-primary-color: #1700ea;
  --inverted-secondary-color: #678ef1;
}