.listBoxButton {
  background: var(--light-bg-redesigned);
}

.options {
  background: var(--dark-bg-redesigned);
  position: absolute;
  z-index: 15;
  box-shadow: 4px 4px 8px var(--dark-bg-redesigned);
  border-radius: 12px;
}

.item {
  padding: 10px 20px;
}

.active {
  background-color: var(--light-bg-redesigned);
  cursor: pointer;
}

.selected {
  background: var(--light-bg-redesigned);
}