.options {
  background: var(--dark-bg-redesigned);
  position: absolute;
  z-index: 15;
  box-shadow: 4px 4px 8px var(--dark-bg-redesigned);
  padding: 15px;
}

.item {
  padding: 10px 20px;
}

.active {
  background-color: var(--light-bg-redesigned)  
}