.item {
  display: flex;
  align-items: center;
}

.link {
  margin-left: 10px;
  opacity: 1;
  display: block;
  transition: 1s;
}

.icon {
  fill: var(--inverted-primary-color);
}

.collapsed {
  .link {
    opacity: 0;
    display: none;
    transition: 1s;
  }
}