.app_dark_theme {
  --bg-color: #0b0b1f;
  --inverted-bg-color: #dedede;
  --primary-color: #6bb16b;
  --secondary-color: #b2cda9;
  --inverted-primary-color: #1700ea;
  --inverted-secondary-color: #678ef1;

  // skeleton 
  --skeleton-color: #1515ad;
  --skeleton-shadow: #2b2be8;

  // code
  --code-bg: #2d2d42;

  // card
  --card-bg: #1a1a46;

    // listBox
    --listbox-bg: #1a1a46;
}