.app.light {
  --bg-color: #dedede;
  --inverted-bg-color: #0b0b1f;
  --primary-color: #1700ea;
  --secondary-color: #255ce8;
  --inverted-primary-color: #6bb16b;
  --inverted-secondary-color: #b2cda9;

}