.app_pure_theme {
  --bg-color: #3b0f3b;
  --inverted-bg-color: #ffe0ff;
  --primary-color: #cb6ecb;
  --secondary-color: #4a257d;
  --inverted-primary-color: #371763;
  --inverted-secondary-color: #371763;
}