.app_pure_theme {
  --bg-color: #3b0f3b;
  --inverted-bg-color: #ffe0ff;
  --primary-color: #cb6ecb;
  --secondary-color: #6a3caa;
  --inverted-primary-color: #371763;
  --inverted-secondary-color: #371763;

  // redesigned
  --dark-bg-redesigned: #FFF3D6;
  --bg-redesigned: #F0C048;
  --light-bg-redesigned: #F2D791;
  --text-redesigned: #1B1311;
  --hint-redesigned: #B8B2A2;
  --cancel-redesigned: #FF5E5E;
  --save-redesigned: #52FA81;
  --icon-redesigned: #4875F0;
  --accent-redesigned: #1D59FF;

  // skeleton 
  --skeleton-color: #33017a;
  --skeleton-shadow: #480c9c;

  // code
  --code-bg: #3b2f4c;

      // card
      --card-bg: #5f1c5f;

      // listbox
      --listbox-bg: #5f1c5f;
}