.app_pure_theme {
  --bg-color: #3f0f3f;
  --inverted-bg-color: #FBF4FB;
  --primary-color: #ff98ff;
  --secondary-color: #371763;
  --inverted-primary-color: #371763;
  --inverted-secondary-color: #371763;
}