.addonLeft,
.addonRight {
  display: flex;
  color: var(--hint-redesigned)
}

.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--text-redesigned);
  padding: 10px 15px;
  transition: 0.3s;
  
  &:hover {
    color: var(--accent-redesigned);

    .addonLeft,
    .addonRight {
      color: var(--accent-redesigned)
    }
  }
}

.clear {
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

.outline {
  border: 1px solid var(--light-bg-redesigned);
  color: var(--light-bg-redesigned);
}

.filled {
  background: var(--bg-redesigned);
  border: none;
  outline: none;
  border-radius: 34px;
  padding: 8px 16px;
}

.square {
  padding: 0;
}

.square.m {
  width: var(--font-line-m);
  height: var(--font-line-m);
  font: var(--font-m);
}

.square.l {
  width: var(--font-line-l);
  height: var(--font-line-l);
  font: var(--font-l);
}

.square.xl {
  width: var(--font-line-xl);
  height: var(--font-line-xl);
  font: var(--font-xl);
}

.m {
  font: var(--font-m-redesigned);
}

.l {
  font: var(--font-l-redesigned);
}

.xl {
  font: var(--font-xl-redesigned);
}

.disabled {
  opacity: 0.5;
  cursor: auto;

  &:hover {
    opacity: 0.5;
  }
}

.fullWidth {
  width: 100%;
}