.starRating {
  .star {
    stroke: var(--primary-color);
    cursor: pointer;
  }
  
  .hovered {
    fill: var(--primary-color)
  }
}

.starRatingRedesigned {
  .star {
    stroke: var(--icon-redesigned);
    cursor: pointer;
  }
  
  .hovered {
    fill: var(--icon-redesigned)
  }
}



.selected {
  cursor: auto;
}