.redesignedSidebar {
  position: relative;
  background: var(--light-bg-redesigned);
  width: 220px;
  height: 100%;
  border-radius: 32px;
  transition: 0.5s;
}

.switchers {
  position: absolute;
  bottom: 40px;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 16px;
}

.collapseBtn {
  position: absolute;
  right: 0;
  top: 50%;
  cursor: pointer;
  z-index: 10;
  transition: 0.5s;

  &:hover {
    fill: var(--accent-redesigned);
  }
}

.items {
  margin-top: 40px;
}

.collapsed {
  width: 50px;

  .items {
    display: flex;
    align-items: center;
  }

  .switchers {
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .collapseBtn {
    transform: rotate(180deg);
  }
}

.appLogo {
  padding-top: 20px;
}